<div class="col-md-6 col-sm-12 col-xs-12">
    <img class="img-responsive" src="/Images/ProfilePic/10403482_701593889901774_5915822839683500703_n.jpg" />
</div>
<div class="col-md-6">
    <h3>We suggest the following:</h3>
    <ol class="round">
        <li class="one">
            <h5>About Me</h5>
            I am a junioir software developer. faciante 
        
        
        
        ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
        enables a clean separation of concerns and that gives you full control over markup
        for enjoyable, agile development. ASP.NET MVC includes many features that enable
        fast, TDD-friendly development for creating sophisticated applications that use
        the latest web standards.
        <a href="http://go.microsoft.com/fwlink/?LinkId=245151">Learn more…</a>
        </li>

        <li class="two">
            <h5>About This Site</h5>
            This is a my profile website used for self study.
            <br /> 
            For frontend, this website use AngularJS for Single Page Application development, JQuery, Boostrap
            <br />
            Backend: MVC, ASP.NET, C#, Razer
            
        </li>
        <li class="three">
            <h5>About My Dreams</h5>
            I have a dream.  
            And I believe that the company I am joining in the future is looking for someone special.
            Special enough that he is not only talented, hard-working and ..... but also optimistic humorous and fun to work with. 
        </li>
    </ol>
</div>



