<div from="Luke" greet="audiances"></div>
Search:<input type="text" data-ng-model="companyQuery" />
<div class="clearfix">
    <div class="repeater col-md-4" data-ng-repeat="company in companies | filter: companyQuery |offset: currentPage*companiesPerPage | 
                limitTo: companiesPerPage ">
        <a href="#/topCompanies/{{company.Name}}">
            {{company.Name}}
            <p>{{company.Rating}}</p>
        </a>
    </div>
</div>
<div>
    <ul class="pagination">
        <li data-ng-class="prevPageDisabled()">
            <a data-ng-click="prevPage()">« Prev</a>
        </li>
        <li data-ng-repeat="n in range()" data-ng-class="{active: n == currentPage}" data-ng-click="setPage(n)">
            <a>{{n+1}}</a>
        </li>
        <li data-ng-class="nextPageDisabled()">
            <a data-ng-click="nextPage()">Next »</a>
        </li>
    </ul>
</div>
