<div from="Luke" greet="audiances"></div>
<h2>New Dream Company</h2><br />
Company name:<input type="text" ng-model="company.Name" /><br />
Company Rating:<input type="text" ng-model="company.Rating" /><br />
Company GDP:<input type="text" ng-model="company.GDP" /><br />
<button ng-click="SaveCompany()">Save Dream Company</button><br />


Search:<input type="text" data-ng-model="companyQuery" />
<div class="clearfix">
    <div class="repeater col-md-4" data-ng-repeat="company in companies | filter: companyQuery |offset: currentPage*companiesPerPage | 
                limitTo: companiesPerPage track by $index">
        <a href="#/topCompanies/{{company.Name}}">{{company.Name}}
            <p>{{company.Rating}}</p>
        </a>
    </div>
</div>
<div>
    <ul class="pagination">
        <li data-ng-class="prevPageDisabled()">
            <a data-ng-click="prevPage()">« Prev</a>
        </li>
        <li data-ng-repeat="n in range()" data-ng-class="{active: n == currentPage}" data-ng-click="setPage(n)">
            <a>{{n+1}}</a>
        </li>
        <li data-ng-class="nextPageDisabled()">
            <a data-ng-click="nextPage()">Next »</a>
        </li>
    </ul>
</div>
